# {{ ansible_managed }}

{% if common_resolvconf_domain -%}
domain {{ common_resolvconf_domain }}
{% endif %}
{% for nameserver in common_resolvconf_nameservers -%}
nameserver {{ nameserver }}
{% endfor %}
{% if common_resolvconf_search -%}
search {{ common_resolvconf_search|join(' ') }}
{% endif %}
